#container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #242424;
    background-image: url("../images/bgs/vector-fire.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#B10027;
    float: left;
    padding-left: 50%;
    padding-top: 30%;
    width: 350px;
}
h2{
    color:#B10027;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10%;
    padding-left: 58%;
    width: 250px;
}
h3{
    display: flex;
    color:white;
    float:right;
    padding-right: 5%;
    padding-top: 5%;
    width: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
}