#capa .section-bg{
    object-fit: contain;
}

#contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-content{
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 10vw;
}

#entre-contato{
    width: 40vw;
}

h1,h2{
    color: #DC0031;
    font-size: 4.5vw;
    width: 100%;
}

h2{
    font-size: 1.5vw;
    margin-top: 3vh;
}

.section-right{
    width: 40vw;
}

#contact-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vh;

    color: white;
}

#contact-content h1{
    font-size: 4vh;
    color: white;
}

#contact-content img{
    height: 6vh;
    object-fit: contain;
    margin: 3vh 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
}

form label{
    font-family: 'Fira Sans', sans-serif;
}

form input{
    height: 4vh;
}

#button-submit{
    background: #DC0031;
    color: white;
    border: transparent;
    text-shadow: none;
    font-family:"Druk-WideMedium";
}

@media only screen and (max-width: 768px){

    #contato .section-content{
        height: 100vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
    }

    #entre-contato{
        width: 80%;
        text-align: center;
    }

    .section-right{
        width: 80%;
    }

    #contact-content{
        align-items: center;
        text-align: center;
    }

    #contact-content h1{
        font-size: 2.5vw;
    }

    form label{
        font-size: 2.5vw;
    }
}