.team-section h1 {
    font-size: 2vw;
    margin-right: 1vw;
    margin-bottom: 3vh;
}

.team-section p {
    font-size: 1.5vw;
}

#patrocinios h1{
    font-family:"Druk Wide Bold";
    font-size: 2vw;
    margin-right: 1vw;
    margin-bottom: 3vh;
}